.page-scroll {

  .btn {
    padding: 5px 10px;
  }

  .btn-primary {
    color: #fff;
    font: {
      size: .875rem;
      weight: 300;
    }
    background: #88B5FF;
    border: 1px solid #42659D;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(82,86,97,0.25), inset 0px 1px 0px 0px rgba(255,255,255,0.50);
       -moz-box-shadow: 0px 1px 2px 0px rgba(82,86,97,0.25), inset 0px 1px 0px 0px rgba(255,255,255,0.50);
            box-shadow: 0px 1px 2px 0px rgba(82,86,97,0.25), inset 0px 1px 0px 0px rgba(255,255,255,0.50);

    &:hover,
    &:focus {
      background: #6092E2;
      border: 1px solid #42659D;
    }
  }

  .btn-default {
    color: #6092E2;
    font: {
      size: .875rem;
      weight: 300;
    }
    background: #D9E6FA;
    border: 1px solid #88B5FF;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.75);
       -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.75);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10), inset 0px 2px 0px 0px rgba(255,255,255,0.75);
  }

  .btn-group .btn:first-child, 
  .btn-group .btn-primary:first-child, 
  .btn-group .btn-success:first-child, 
  .btn-group .btn-warning:first-child, 
  .btn-group .btn-danger:first-child, 
  .btn-group .btn-info:first-child {
    border-left: 1px solid #42659D;
  }

  .btn-group .btn-primary, 
  .btn-group .btn-primary:focus, 
  .btn-group .btn-primary:active,  
  .btn-group .btn-primary.active {
    border-right: 1px solid #42659D;
  }

}
