// General 

@mixin border-top-pad($color: transparent, $px: 7px) {
  border-top: $px solid $color;
}

@mixin justify-no-float($left, $right) {
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  #{$left}, #{$right} {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    #{$left}:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}

// Media Queries

$mobile: 480px;
$tablet: 992px;
$desktop: 1200px;

@mixin responsive($width) {
  @if $width == desktop {
    @media only screen and (max-width: $desktop) {
      @content;
    }
  }
  @else if $width == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }
  @else if $width == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}


