$mobile: "mobile";
$tablet: "tablet";
$desktop: "desktop";


$whiteMedium: #f6f6f6;
$whiteDark: #e5e5e5;
$grayLight: #d4d4d4;
$grayMedium: #bbb;
$grayDark: #9b9b9b;
$blackLight: #828282;
$blackMedium: #4A4A4A;
$blueLight: #D3EBF5;
$blueMedium: #4ABAE2;
$hoverBlue: #81C9E3;
$orange: #E16D44;
$greyText: #777;
$greyTextLighter: #c4c4c4;
$blueBand: #3391B9;
$purpleDark: #6092E2;
$purpleDarkest: #375482;
$purpleLight: #88B5FF;


$lightGrey: #FAFAFA;

$hotColor: #E16D44;
$linkColor: #6F94CD;

$btnPrimary: #88B5FF;
$btnPrimaryHover: #6092E2;
$btnPrimaryBorder: #42659D;
