<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Healthagen | <%= current_page.data.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/boilerplate.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/buttons.css">

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
</head>
<body class="<%= page_classes %>">

    <div id="panel"><!-- info-panel -->
      <dl>
        <dt>window-width:</dt>
        <dd class="win"></dd>
        <dt>body-width:</dt>
        <dd class="width"></dd>
        <dt>font-size:</dt>
        <dd class="fontsize"></dd>
        <dt>breakpoint:</dt>
        <dd class="breakpoint break-1">mobile</dd>
        <dd class="breakpoint break-2">tablet</dd>
        <dd class="breakpoint break-3">desktop</dd>
     </dl>
    </div>

    <%= partial "partials/nav-1" %>

    <div style="width:1180px; height:50px; border:1px solid blue; margin:0 auto; display:none;">
        <span style="font-size:16px;">Font size: 16px</span>
        <span style="font-size:10px;">Font size: 10px</span>
        <span style="font-size:1rem;">Font size: 1rem</span>
        <span style="font-size:1em;">Font size: 1em</span>
    </div>

    <div class="container">
      <%= yield %>
    </div><!-- .container -->

    <script src="js/vendor/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
