---
title: Dashboard
nav: partials/nav-cm
---

<div class="row clearfix">
  <div class="col desktop-12col-span6 tablet-12col-span6 mobile-12col-span12">
    <div class="item">
      <div class="corner ribbon big">
        <i class="icon-hotspot"></i>
      </div>
    </div>
  </div>

  <div class="col desktop-12col-span6 tablet-12col-span6 mobile-12col-span12">
    <div class="item">
      <div class="corner ribbon big">
        <i class="icon-hotspot"></i>
      </div>
    </div>
  </div>

  <div class="col desktop-12col-span3 tablet-12col-span3 mobile-12col-span6">
    <div class="item">
    </div>
  </div>

  <div class="col desktop-12col-span3 tablet-12col-span3 mobile-12col-span6">
    <div class="item">
    </div>
  </div>

  <div class="col desktop-12col-span3 tablet-12col-span3 mobile-12col-span6">
    <div class="item">
    </div>
  </div>

  <div class="col desktop-12col-span3 tablet-12col-span3 mobile-12col-span6">
    <div class="item">
    </div>
  </div>
</div><!-- .row -->

<div class="row clearfix">
  <div class="col desktop-12col-span12 tablet-12col-span12 mobile-12col-span12">
    <div class="item">
    </div>
  </div>
</div><!-- .row -->
