    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-left">
            <h1><strong>Active</strong><br/> CareTeam</h1>
            <h2>Dashboard</b>
          </div>

          <div class="navbar-right">
            <a href="details.html" class="connect">Connect</a>
          </div>
        </div><!-- .container -->            
    </nav>