@import "compass";
@import "susy";
@import "partials/variables";
@import "partials/my-mixins";
@import "partials/buttons";
@import "partials/modals";
@import "partials/profile";
@import "partials/encounters";

/* --------------------------------------------------------------
  Default styles
----------------------------------------------------------------- */

/*
* {
    -webkit-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
*/

html, 
body {
  position: relative;
  height: 100%;
}

html {
  overflow-y: auto;
  font-size: 100%;

  @include responsive(desktop-sm) {
    font-size: 90%;
  }
}

body {
  color: #000;
  font-size: 1rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 300; 
  line-height: 1;
}

a, 
a:visited {
  color: $blueMedium;
  text-decoration: none;
  outline: none;

  &:hover, 
  &:active, 
  &:focus {
    text-decoration: none;
  }
}

p, pre, code, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
}

h4 {
  font-size: 1rem;
}

h5, h6 {
  font-size: 0.8125rem;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper { 
  @include container($total-columns);  
  // @include susy-grid-background;
  margin: 0;
  padding-top: 85px;
  width: 100%;
  height: 100%;
  overflow: auto;

  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align:left;
  }
}

// arrow
// background-image: url(../img/icon-arrow.png);


/*---- icons ----*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'healthagen';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
  content: "\e600";
}
.icon-checkmark:before {
  content: "\e607";
}
.icon-close:before {
  content: "\e609";
}
.icon-users:before {
  content: "\e60c";
}
.icon-bubble:before {
  content: "\e60d";
}
.icon-menu:before {
  content: "\e60e";
}
.icon-grid:before {
  content: "\e60f";
}
.icon-checkmark-circle:before {
  content: "\e610";
}
.icon-bars:before {
  content: "\e611";
}
.icon-save:before {
  content: "\e601";
}
.icon-download:before {
  content: "\e602";
}
.icon-print:before {
  content: "\e603";
}
.icon-down-arrow:before {
  content: "\e604";
}
.icon-hotspot:before {
  content: "\e605";
}
.icon-up-arrow:before {
  content: "\e606";
}
.icon-dots:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-calendar:before {
  content: "\e613";
}
.icon-quality:before {
  content: "\e614";
}
.icon-user:before {
  content: "\e615";
}
.icon-registry:before {
  content: "\e616";
}
.icon-utilization:before {
  content: "\e617";
}
.icon-search2:before {
  content: "\e608";
}
.icon-checkmark2:before {
  content: "\e612";
}

// Boostrap + Boilerplate overrides

.btn {
  padding: 0.2rem 1.1rem;
  font-weight: 300;

  &.btn:focus { outline: none; }
}

.btn-primary {
  background-color: $blueMedium;     
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: middle;
  color: white;

  &:last-child { margin-right: 0; }

  &:hover { background-color: $hoverBlue; }
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
  border: 1px solid transparent;
}

.btn-secondary {
  @extend .btn-primary;
  background-color: white;
  border: 1px solid $blueMedium;
  color: $blueMedium;

  &:hover {
    color: $blueMedium;
    background-color: white;
    border: 1px solid $blueMedium;
  }
}

label {
  color: #777;
  font: {
    weight: 300;
  }
}

sup {
  top: -0.4em;
  font-size: 65%;
}

ul { margin: 0; }

// end Bootstrap overrides -- mostly

.btn-watchlist-group {
  margin-left: 0.3rem;

  .btn-watchlist {
    padding: 0.2rem 1.35rem;
  }

  .btn-watchlist-number { border-left: 1px solid $whiteDark; }
}

a {
  color: $blueMedium;
  text-decoration: none;

  &.withSidebar {
    padding: 0;
    display: block;
    min-width: 8rem;

    span {
      float: left;
     
      &:last-child {
        border-left: 1px solid white;
      }
    }
  }

  &.icon-search {
    margin-left: 0.5rem;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    background-color: transparent;

    &:before { bcolor: $blueMedium; }

    &:hover {
      background-color: transparent;

      &:before { color: $hoverBlue; }        
    }
  }
}

/*---- nav ----*/
nav {
  padding: 0 2rem;
  width: 100%;
  background-color: $whiteDark;
  // @include em-fallback(font-size, 1.25);
  // @include em-fallback(padding, 0.625, 0);

  .page-wrapper {
    // @include em-fallback(padding, 0 ,1);    
  }

  h1, 
  h2 {
    color: $grayDark; 
    font-weight: normal;
    font-weight: 300;
    // @include em-fallback(margin, 0, 1.25, 0, 0);
  }

  h1 {
    font-size: 1.3rem;
    line-height: 1;
    // @include em-fallback(font-size, 1.0625);  
    // @include em-fallback(padding-right, 1.25);
    // border-right: 1px solid $grayDark;

    strong {
      display: block;
     // @include em-fallback(font-size, 1.5625);    
    }
  }

  h2 {
    vertical-align: top;
    line-height: 1.5;
    font-size: 1.875rem;
  }

  .nav-container {
    padding-right: 1rem;
    line-height: 70px;
  }

  .navbar-left {
    // @include em-fallback(min-width, 22.1);
    // float:left !important;
    // @include em-fallback(padding, 0.625);

    .dropdown-menu {
      min-width: 22.1rem;
      background-color: $whiteDark;
    }
 
    &.isActive {
      background-color: $grayDark;

      h1 { border-right: 1px solid $whiteDark; }

      h1, 
      h2 {
        color: $whiteDark;      
      }

      button {
        &.dropdown-toggle {
          background-color: $whiteDark;

          .icon-bar {
            background-color: $grayDark;         
          }
        }      
      }
    }
  }

  .navbar-left.noDropdown {
    min-width: 0;

    h1 { border-right: none; }
  }

  .navbar-right {
    float: right !important;
    // @include em-fallback(padding, 0.625);
  }

  button {
    &.dropdown-toggle {
      padding: 0.375rem;
      margin-right: 0.625rem;
      background-color: $grayDark;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      width: 2.75rem;
      height: 2.75rem;

      &:hover {
        background-color: $grayMedium;
      }

      .icon-bar {
        display: block;
        height: 0.375rem;
        border-radius: 3px;
        background-color: $whiteDark;

        + .icon-bar {
          margin-top: 0.35rem;
        }
      }
    }
  }

  .dropdown-menu {
    font-size: 0.9375rem;
    font-weight: 300;
    color: $blackLight;

    a {
      color: $blackLight;

      &:hover {
        color: $blackMedium;
      }      
    }

    ul.mainLinks {
      list-style: none;
      padding: 0;
      width: 45%;
      border: 1px solid $grayDark;
      border-bottom: none;
      border-top: none;

      li a {
        border-bottom: 1px solid $grayDark;
        padding: 0.625rem 0.75rem;
        padding-right: 0;


        &:hover {
          background-color: white;
          
        }

        &.selected {
          background-color: $grayDark;
          color: $whiteDark; 
        }

        i[class*="icon-"] {
          padding-right: 10px;
        }
      }       
    }
   
    .rightLinks {
      list-style: none;
      padding: 0;
      position: absolute;
      left: 51%;
      top: 20px;

      .pic-clip {
        float: left;
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100%;
        margin: -5px 10px 10px 0;
      }
    }
  }
}

/*---- corner ribbons ----*/
.corner {
  position: absolute;
  right: 8px;
  top: 7px;

  i {
    color: $grayLight;
    font-size: 1rem;
    line-height: 1;
  }

  &.big {
    right: 0;
    top: 0;    

    i {
      font-size: 2.75rem;
      line-height: 3rem;
      color: white;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 0;
    height: 0;
  }

  &.ribbon, 
  &.warning, 
  &.hotspot {
    i {
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }

  &.ribbon:before {
    border-color: rgba(74, 186, 226, 0.7) rgba(74, 186, 226, 0.7) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 3px;
  }

  &.warning:before {
    border-color: rgba(255, 187, 77, 0.7) rgba(255, 187, 77, 0.7) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 3px;
  }  

  &.hotspot {
    &:before {
      width: 1.875rem;
      height: 1.875rem;
      background-color: $blueMedium;
      right:10px;
      top:10px;
      border-radius: 4px;
    }
    i { 
      right: 17px;
      top: 8px;     
    }
  }
}

/*-------- dashboard isotope styles --------*/
/*--- more styles are in 'isotope-style.css' ---*/
#options .option-combo ul#filters {
  padding: 0 3rem;
  width: 100%;
  margin-right: 0;

  li {
    width: 33.33333%;  
  
    a {
      //@include sassy-button-gradient("glass");
      
      .sideStats {
        float: right;
      }

      [class^="icon-"], [class*=" icon-"] {
        position: relative;
        top: 3px;
        left: -3px;
        font-size: 1.4rem;
      }
    }
  }

}

/*
.element {
  float: left;
  overflow: hidden;
  position: relative;

  //&.utilization .item { background: #F9F2FF;}
  //&.quality .item  { background: #FFFAF2;}
  //&.registry .item { background: #FFF2F4;}

  &[data-hotspot="1"] .item {
    padding: 1.35em 1em;
    background-color: white;
    background-size: 47px auto;
    border: 1px solid $blueMedium;

    h3 {
      font: {
        size: 1.675em;
      }
      line-height: 1.25;
      // @include em-fallback(font-size, 2);
    }

    .corner i {
      color: $blueMedium !important;
    }

    .desc {
      margin-bottom: 3.35em;

      h3 {
        font: {
          // size: 2em;
          weight: 300;
        }
        // line-height: 1;
      }
    }
  }

  .item {
    padding: 2.5em 1em 0;
    border-radius: 5px;
    border: 1px solid $grayMedium;
    overflow: hidden;
    background-size: 27px auto;
  }

  .desc, .number, .date, .dots, .subStats, .graphImg {
    margin: 0;
    // @include em-fallback(left, 1.25);
  }

  .desc {
    
    h3 {
      margin: 0;
      font-size: 1em;
      line-height: 1.4;
      // @include em-fallback(font-size, 1.25);
      
      i {
        color: $grayMedium;
        font-style: normal;
      }
    }
  }

  .number {
    font-size: 3.5em;
    // @include em-fallback(font-size, 3.75);
    color: $blueMedium;
    // top: 8em;
  }

  .subStats {
    margin-bottom: .2em;
    // @include em-fallback(font-size, 1.25);
    color: $blueMedium;
    font-size: 1.2em;
    // top: 12.5em;    
  }

  .graphImg {
    text-align: center;
    img {
      max-width: 100%;      
    }    
  }

  .subtitle {
    margin-top: 0.4em;
    font-size: 0.9em;
  }

  figure {
    margin-top: 1em;
  }

  figure img {
    max-width: 100%;
  }

  figcaption {
    margin-top: 0.625em;
    color: $blueMedium;
    font-size: 0.7em;
  }

  .dots {
    bottom: 5px;
    right: 7px;
    left: auto;
    padding: 5px;    
    @include em-fallback(font-size, 0.4375);
    color: $grayLight;
  }

}
*/

.clickable .element {

  &[data-hotspot="1"]:hover .item {
    background-color: $blueLight;
  }

  &:hover .item {
    background-color: $whiteDark;

    .dots, .corner i {
      color: $blackLight;      
    }
  }

}

/*---- info-panel ----*/
#panel {
  z-index: 1050;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px 30px 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 21px;
  color: #000;
  border-radius: 10px;
  font-family: arial, sans-serif;
  //border-top-right-radius: 10px;

  dl {
    margin: 0;
    padding: 0;

    dt, dd {
      float: left;
      margin: 0;
      padding: 0;
      text-align: left;      
    }

    dt {
      width: 120px;
      font-weight: bold;
    }

    dd + dt {
      clear: both;      
    }
  }

  a.close-x {
    position: absolute;
    right: 2px;
    top: 2px;
    color: white;
    display: block;
    border-radius: 10px;
    background-color: black;
    font-weight: bold;
    padding: 5px 7px 8px 7px;
    line-height: .5;
    cursor: pointer;

    &:hover {
      background-color: orange;
    }
  }
}

.mobile #panel {
  background-color: rgba(0, 0, 255, 0.4);
  .breakpoint:before {
    content: "mobile";
  } 
}
.tablet-ptr #panel {
  background-color: rgba(255, 0, 0, 0.4);
  .breakpoint:before  {
    content: "tablet (portrait)";
  }  
}
.tablet-lnd #panel {
  background-color: rgba(0, 255, 0, 0.4);
  .breakpoint:before  {
    content: "tablet (landscape)";
  }  
}
.desktop #panel {
  .breakpoint:before  {
    content: "desktop";
  }  
}


/* --------------------------------------------------------------
  Media-query for Desktop breakpoint
----------------------------------------------------------------- */

@media only screen and (min-width: 1025px) {
  // @include make-colSpans-withPrefix($total-columns, $desktop); 

}


/* --------------------------------------------------------------
  other default styles
----------------------------------------------------------------- */
.omega {
  @include omega;
}

.number-percentage {
  font: {
    size: 2.8rem;
  }
}
.number-out-of {
  font: {
    size: 1rem;
  }
}
.number-blue {
  color: $blueMedium;
}
.number-grey {
  color: $grayDark;
}
.number-orange {
  color: $orange;
}
.benchmark {
  text-align: left;
  background: $whiteMedium;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  .number-percentage {
    font-size: 1.8rem;
  }
  label {
    margin: 0;
    font-size: 0.7rem;
  }
  small {
    font-size: 0.6rem;
  }
}
.compliance, .compare {
  margin: 0 auto;
}
.divider-slash {
  padding-top: 0.25rem;
  color: #777;
  font-size: 3rem;
  vertical-align: top;
}
.number-change {
  span {
    text-indent: 2px;
    display: block;
    font-size: 0.33333em;
  }
}
.inline-block {
  display: inline-block;
  text-align: left;
}
.center-block {
  max-width: 100%;
}


.navbar-fixed-top {
  height: 70px;
  background: $whiteDark;
  h1 {
    position: absolute;
    top: 50%;
    left: 2.375rem;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.table {
  display: table;
  vertical-align: middle;
  text-align: center;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: left;

  strong {
    @extend %strongLabel;
  }
}
.margin-top-bottom {
  margin: 1.2rem 0;
}
.btn-back {
  margin-left: 9rem;
}

// Page ID 

.page-top {
  margin-bottom: 2rem;
  .pull-left {
    width: 45%;
  }
  .pull-right {
    width: 55%;
    text-align: right;
  }
  h1 {
    font-size: 1.8rem;
    i {
      color: #bbb;
      font-style: normal;
    }
  }
}
.page-content {
  margin-bottom: 2.25rem;
  padding: 0 3rem;
}
.page-stats {
  margin-bottom: 2.25rem;
  width: 100%;
  .pull-left {
    width: 40%;
    .benchmark {
      padding: 0.4rem 0.8rem;
      display: inline-block;
      font-size: 1.35rem;
      vertical-align: middle;
      border-radius: 5px;
      .number-percentage {
        font-size: 1rem;
      }
    }
    .compliance {
      padding-left: 1.1rem;
      padding-right: 0.5rem;
    }
    .divider-slash {
      margin-right: 0.25rem;
      padding-top: 0.4rem;
    }
    .number-change {
      padding-left: 1rem;
    }
    p {
      margin: 0;
    }
  }
  .pull-right {
    width: 60%;
    text-align: right;
    img {
      max-width: 100%;
    }
  }
}


.btn {
  position: relative;
}
.btn-back {
  padding-left: 1.6rem;
}
.btn-back:before {
  content: "<";
  position: absolute;
  top: 50%;
  left: 1rem;
  margin-top: -0.1rem;
  font-size: 70%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.number-change .number-greater-than, 
.number-change .number-lesser-than {
  position: relative;
  padding-left: 0.6rem;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 21px;
    height: 55px;
    z-index: 1;
    background: url(../img/arrow-down.png) no-repeat;
    background-size: 14px auto;
  }

  &.number-lesser-than:before {
    top: 5px;
    background-position: bottom left;
    -webkit-transform: scale(-1);
       -moz-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1);
  }
}

.table .number-change .number-greater-than, 
.number-change .number-lesser-than { 
  padding-left: 0.5rem;

  &:before {
    top: 8px;
    background-size: 17px auto;
  }
}

.number-change .number-lesser-than {
  padding-left: 0.85rem;
}

.benchmark .number-percentage {
  position: relative;
  padding-left: 0.1rem;

  &.number-greater-than:before, 
  &.number-lesser-than:before {
    content: ">";
    position: absolute;
    top: 50%;
    left: -0.625rem;
    margin-top: -0.1rem;
    font-size: 70%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  &.number-lesser-than:before {
    content: "<";
  }
}

.page-stats .benchmark .number-percentage {
  margin-left: 1rem;
}




/////////// ISOTOPE ///////////


.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.item,
.grid-sizer {
  width: 20%;
}

.item {
  float: left;
  margin: 0;
  overflow: hidden;
  height: 200px;
  font-size: 0.875rem;
  border: 10px solid transparent;

  .item-content {
    padding: 20px;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #ccc;
  }
}

.gutter-sizer { width: 0; }

.item.width2 { 
  width: 40%;
  height: 400px;
}

.head-content {
  padding-top: 1rem;

  label {
    margin-right: 5px;
    font-size: 0.875rem;
  }

  h2 {
    margin: 0;
    width: 50%;

    a {
      margin-left: 15px;
    }
  }
}

/////////// OVERVIEW ///////////

.content-overview .head-content {
  @include justify-no-float(h2, div);
}


.aside-overview {
  @include span-columns(3, $total-columns);

  li {
    position: relative;
    margin-bottom: 10px;
    padding: 8px 15px 15px;
    height: 9rem;
    color: $greyText;
    background: #eee;
    @include border-top-pad;
    border-radius: 0 0 4px 4px;

    h3 {
      margin: 0 0 0.25em;
      font-size: 1.75rem;
      font-weight: normal;
    }

    p {
      position: absolute;
      bottom: 15px;
      left: 15px;
      margin: 0;
      font-size: 1.1rem;
    }

    span {
      color: $blueMedium;
      font-size: 1.125rem;
    }

    &.active {
      color: #fff;
      background: $blueMedium;
      @include border-top-pad($blueBand);

      p {
        opacity: 0.5;
      }
    }
  }
}

.content-overview {
  @include span-columns(6, $total-columns);

  li {
    float: left;
    margin-bottom: 3%;
    width: 48.5%;

    .inner {
      padding: 15px;
      height: 12rem;
      color: $greyText;
      background: #fff;
      border: 1px solid #D4D4D4;
      border-radius: 8px;
      -moz-box-shadow:    0px 2px 0px 0px rgba(212,212,212,0.25);
      -webkit-box-shadow: 0px 2px 0px 0px rgba(212,212,212,0.25);
      box-shadow:         0px 2px 0px 0px rgba(212,212,212,0.25);

      h3 {
        margin: 0 0 0.2rem;
        color: $blueMedium;
        font-size: 1.5rem;
        line-height: 1.8125rem;
      }

      em {
        color: $grayDark;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        display: block;
        font-style: normal;
        text-transform: uppercase;
      }

      .justify-no-float {
        @include justify-no-float(p,p);

      }
    }
  }

  li:nth-child(even) {
    margin-left: 3%;
  }
}


.table-conditions {
  padding: 15px;

  h2 {

    small {
      display: block;
    }
  }

  .table-th {
    width: 50%;
    font-size: 1.125rem;

    small {
      display: block;
      font-size: 0.75rem;
    }
  }

  .table-td {
    width: 25%; 
  }

}

//// profile temp 

.profile-top, 
.profile-header {
  position: relative;
}

.profile-temp {
  margin-left: 108px;

  @include responsive(tablet-ipad) {
    margin-left: 80px;
  }

  p {
    margin-top: 15px;
    height: 200px;
  }
}

.profile-btn-group {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  // border: 1px solid red;

  .btn-primary.active:hover {
    background-color: #3276b1;
    border-color: #285e8e;
  }


}

.profile-header {

  &.affix-top, 
  &.affix-bottom {
    position: relative;
  }

  &.closed {

    .profile-temp {

      p {
        display: none !important;
      }
    }
  }
}


header[role="fixed-header"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 140px 0 4rem;
  height: 65px;
  display: table;
  z-index: 900;
  background: #eee;
  border-bottom: 1px solid #999;

  @include responsive(tablet-lg) {

    .form-search {
      display: none;
    }
  }

  &.table {
    margin-bottom: 0;
  }

  .logo {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .hamburger {
    position: absolute;
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);   
  }

  .nav-pills {
    text-align: right;
  }

  .nav-search {
    display: none;

    @include responsive(tablet-lg) {
      display: inline-block;
    }
  }

  .dropdown-menu {
    text-align: left;
  }

}



