
<section class="section-playlists">

    <header class="section-header clearfix">

        <h1 class="pull-left">{{ playlists.length }} Active Playlists</h1>

        <div class="pull-right">
            <span>View as</span>
            <button type="button" class="btn default">List</button>
            <button type="button" class="btn primary">Playlists</button>
        </div>

    </header>

    <div class="section-content clearfix">

        <div class="article-wrapper pull-left">

            <h2>Playlists</h2>

            <ul>

                <li class="clearfix" ng-class="{ 'hotspot' : playlist.hotspot === true }" ng-repeat="playlist in playlists">

                    <header class="pull-left clearfix">

                        <h2>{{ playlist.title }}</h2>

                        <div class="dl-group clearfix">
                            <dl>
                                <dt>Patients</dt>
                                <dd>{{ playlist.patients }}</dd>
                            </dl>

                            <dl>
                                <dt>Steps</dt>
                                <dd>{{ playlist.steps }}</dd>
                            </dl>

                            <dl>
                                <dt>Effectiveness</dt>
                                <dd>{{ playlist.effectiveness }}%</dd>
                            </dl>
                        </div>

                        <p>{{ playlist.goal }}</p>

                    </header>

                    <footer class="pull-right">

                        <img data-src="holder.js/460x60" ng-class="{ 'hot-color' : playlist.hotspot === true }" holder-fix>

                        <div class="dl-group clearfix">
                            <dl class="pull-left">
                                <dt>Step {{ playlist.stepPosition }}</dt>
                                <dd ng-class="{ 'hot-color' : playlist.hotspot === true }">{{ playlist.stepDescription }}</dd> 
                            </dl>

                            <dl class="pull-right">
                                <dt>Patients</dt>
                                <dd>{{ playlist.patients }}</dd>
                            </dl>
                        </div>

                    </footer>
                </li>
            </ul>

        </div><!-- // .article-wrapper -->

        <aside class="aside-playlists pull-right">

            <h3>All Playlists</h3>

            <input type="text">

            <ul>
                <li class="th-list clearfix">Name <span>Effectiveness</span></li>
                <li class="clearfix" ng-repeat="playlist in playlists">{{ playlist.title }} <span>{{ playlist.effectiveness }}%</span></li>
            </ul>

        </aside>
    </div>

</section>


