
<section class="section-hotspots">

    <header class="section-header clearfix">

        <h1 class="pull-left">Today's Hotspots</h1>

    </header>

    <div class="section-content clearfix">

        <ul class="pull-left">
            <li class="hotspot" ng-repeat="patient in patients" ng-show="patient.hotspot">
                <h2>{{ patient.firstName + ' ' + patient.lastName }}</h2>
                <div class="hotspot-inner">
                    <div class="dl-group clearfix">
                        <dl class="pull-left">
                            <dt>Age</dt>
                            <dd>{{ patient.age }}</dd> 
                        </dl>
                        <dl class="pull-left">
                            <dt>Primary Physician</dt>
                            <dd>{{ patient.primaryDoctor }}</dd> 
                        </dl>
                    </div>
                    <div class="dl-group">
                        <dl>
                            <dt>Diagnoses</dt>
                            <dd>{{ patient.diagnoses }}</dd> 
                        </dl>
                    </div>
                </div>
                <h3>{{ patient.type }}</h3>
                <span>{{ patient.time }}</span>
            </li>
        </ul>

       
     

        <aside class="aside-hotspots pull-right">

            <h3>Tasks <button type="button" class="btn btn-default">View All</button></h3>

            <h4>Today's</h4>
            <ul>
                <li ng-repeat="task in tasks" ng-show="task.today === true">
                    <a href="">
                        <strong>{{ task.type }}</strong>
                        {{ task.firstName + ' ' + task.lastName }}
                    </a>
                </li>
            </ul>

            <h4>Tomorrow's</h4>
            <ul>
                <li ng-repeat="task in tasks" ng-show="task.today === false">
                    <a href="">
                        <strong>{{ task.type }}</strong>
                        {{ task.firstName + ' ' + task.lastName }}
                    </a>
                </li>
            </ul>

            <h4>Upcoming</h4>
            <ul>
                <li>
                    No upcoming tasks.
                </li>
            </ul>

        </aside>
    </div>

</section>


