<section class="section-messages section-content clearfix">

  <h1>Messages</h1>

  <aside class="aside-messages col-md-3 pull-left">

    <div class="aside-inner">

      <h3>Watchlist Patients</h3>

      <ul>
        <li>


       </li>

       <h3>Your Patients</h3>



       <h3>All Patients</h3>

    </div>

  </aside>

  <div class="col-md-6 pull-left">

    <div class="clearfix">

      <h2 class="pull-left">Betsy Johnson</h2>
      <span class="pull-right">Show only Clinical Data</span>

    </div>

    <ol>
      <li>
        <h5>Linda Donna</h5>
        <span>Jan. 23 2014 8:15am</span>
        <p>Betsy recently called in with a request for an in-home visit. We talked about what she’s been experiencing recently with her diabetes and mobility issues. Doesn’t use a walker yet but is experiencing joint pain. Can’t move around the house as fast as she used to. Would prefer to see her eat better and have some sort of exercise routine.</p>
      </li>
      <li>
        <h5>You (Joyce)</h5>
        <span>Jan. 23 2014 8:15am</span>
        <p>Talked with Betsy. Requested a walker and called her PCP for an appt next week. She’s eating better and has a neighbor taking to her to the farmer’s market every Saturday. I told her to look for fruits she used to eat when she was younger. Melons and apples might be a good place to start.</p>
      </li>
      <li>
        <h5>Shirley Marks</h5>
        <span>Jan. 23 2014 8:15am</span>
        <p>Her HgA1c results recently spiked. They’re over 7%. Called her to talk about what happened. Blizzard in her area prevented her from leaving the house and going to the grocery store. As a result, she ended up eating poorly and not exercising. Have a feeling her medication adherence is down. Need to follow up with PCP to see what happened at the appt Miriam set up.</p>
      </li>
    </ol>

  </div>

  <aside class="col-md-3 aside-info pull-right">

    <div class="aside-inner">

      <h2>Patient Info</h2>

      <h3>Betsy Johnson</h3>
      <span class="phone">(212) 123-4567</span>

    </div>

  </aside>

</section>