<section class="section-procedures section-content clearfix">

    <div data-ng-include data-src="'app/partials/profile.html'"></div>
    
    <aside class="aside-navigation col-md-3 col-sm-12 col-xs-12 pull-left" role="navigation" data-ng-include data-src="'app/partials/navigation.html'"></aside>

    <div class="article-panel col-md-9 col-sm-12 col-xs-12 pull-right clearfix">

        <div class="article-wrapper">

            <div class="section-title clearfix">
                <h2 class="pull-left">Procedures <button type="button" class="btn btn-primary">Add Procedure</button></h2>

                <div class="pull-right">
                    <label>Filter by</label>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">All</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                      </ul>
                    </div>
                </div>
            </div>

            <table class="table-grey">
                <tr>
                    <th>Name</th>
                    <th>Most Recent</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                <tr ng-repeat="procedure in procedures">
                    <td>{{ procedure.title }}</td>
                    <td>{{ getRandom( 1, 12 ) }}/{{ getRandom( 1, 28 ) }}/20{{ getRandom( 10, 14 ) }}</td>
                    <td>{{ procedure.total }}</td>
                    <td class="td-image"></td>
                </tr>
            </table>         

            <div class="section-title clearfix">
                <h2 class="pull-left">Immunizations <button type="button" class="btn btn-primary">Add Immunization</button></h2>     
                <div class="pull-right">
                    <label>Filter by</label>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">All</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                      </ul>
                    </div>
                </div>
            </div>

            <table class="table-grey">
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                <tr ng-repeat="immune in immunizations">
                    <td>{{ immune.title }}</td>
                    <td>{{ getRandom( 1, 12 ) }}/{{ getRandom( 1, 28 ) }}/20{{ getRandom( 10, 14 ) }}</td>
                    <td>{{ immune.total }}</td>
                    <td class="td-image"></td>
                </tr>
            </table>

        </div>
    </div>
</section>