
<section class="section-tasks">

    <header class="section-header clearfix">

        <h1 class="pull-left">{{ tasks.length }} Tasks</h1>

        <div class="pull-right">
            <span>View as</span>
            <button type="button" class="btn default">List</button>
            <button type="button" class="btn primary">Playlists</button>
        </div>

        <div class="section-search clearfix">

            <input type="text" placeholder="Find Tasks...">
            
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-filter">Filter</button>
                <button type="button" class="btn btn-default btn-sort">Sort</button>
                <button type="button" class="btn btn-default btn-views">Views</button>
            </div>
           
        </div>

    </header>

    <div class="section-content clearfix">

        <div class="article-wrapper pull-left">

            <h2>Today's Tasks</h2>

            <ul>

                <li class="clearfix" ng-class="{ 'hotspot' : task.hotspot === true }" ng-repeat="task in tasks" ng-show="task.today === true">

                    <header class="pull-left clearfix">

                        <div class="dl-group clearfix">
                            <h3>{{ task.firstName + ' ' + task.lastName }} <br><span>{{ task.time }}</span></h3>

                            <dl>
                                <dt>Type</dt>
                                <dd>{{ task.type }}</dd>
                            </dl>

                            <dl>
                                <dt>Status</dt>
                                <dd>{{ task.status }}</dd>
                            </dl>

                            <dl>
                                <dt>Primary Physician</dt>
                                <dd>{{ task.physician }}</dd>
                            </dl>
                        </div>

                        <p>We are more like Germany: ambitious and misunderstood. Anyhoo, let's discuss this... <a href="">More</a></p>

                    </header>

                    <footer class="pull-right">

                        <div class="dl-group clearfix">
                            <dl class="pull-left">
                                <dt>Playlist</dt>
                                <dd>{{ task.playlist }}</dd> 
                            </dl>
                        </div>

                        <button type="button" class="btn btn-default pull-left" ng-show="task.step">{{ task.step }}</button>
                        <button type="button" class="btn btn-default pull-right" ng-show="task.step">Start</button>

                    </footer>
                </li>
            </ul>

            <h2>Tomorrow's Tasks</h2>

            <ul>

                <li class="clearfix" ng-class="{ 'hotspot' : playlist.hotspot === true }" ng-repeat="task in tasks" ng-show="task.today === false">

                    <header class="pull-left clearfix">

                        <div class="dl-group clearfix">
                            <h3>{{ task.firstName + ' ' + task.lastName }} <br><span>{{ task.time }}</span></h3>

                            <dl>
                                <dt>Type</dt>
                                <dd>{{ task.type }}</dd>
                            </dl>

                            <dl>
                                <dt>Status</dt>
                                <dd>{{ task.status }}</dd>
                            </dl>

                            <dl>
                                <dt>Primary Physician</dt>
                                <dd>{{ task.physician }}</dd>
                            </dl>
                        </div>

                        <p>We are more like Germany: ambitious and misunderstood. Anyhoo, let's discuss this... <a href="">More</a></p>

                    </header>

                    <footer class="pull-right">

                        <div class="dl-group clearfix">
                            <dl class="pull-left">
                                <dt>Playlist</dt>
                                <dd>{{ task.playlist }}</dd> 
                            </dl>
                        </div>

                        <button type="button" class="btn btn-default pull-left" ng-show="task.step">{{ task.step }}</button>
                        <button type="button" class="btn btn-default pull-right" ng-show="task.step">Start</button>
                        
                    </footer>
                </li>
            </ul>

        </div><!-- // .article-wrapper -->

        <aside class="aside-tasks pull-right">

            <h3>Tasks Statistics</h3>

            <div class="dl-group clearfix">
                <dl>
                    <dt>Due Today</dt>
                    <dd>{{ remaining() }}</dd>
                </dl>
                <dl>
                    <dt>This Week</dt>
                    <dd>{{ tasks.length }}</dd>
                </dl>
            </div>

            <div class="dl-group dl-single">
                <dl>
                    <dt>Week's Top Task Type</dt>
                    <dd>Outreach</dd>
                </dl>
                <dl>
                    <dt>Week's Top Patient</dt>
                    <dd>Betsy Johnson</dd>
                </dl>
            </div>

        </aside>
    </div>

</section>


