  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-left noDropdown">
          <h1><strong>Active</strong><br/> CareTeam</h1>
          <!--h2><%= current_page.data.title %></h2-->
        </div><!-- .navbar-left -->

        <div class="navbar-right">
          <a href="#" class="btn-primary">Connect</a>
          <a href="#" class="btn-primary">Watchlist</a>
          <a href="#" class="btn-primary ir icon-search">Search</a>
        </div><!-- .navbar-right -->
      </div><!-- .container -->            
  </nav>