---
title: Dashboard
---

<div class="bl-panel-items" id="bl-panel-work-items">
  <div class="panel-slide">

    <div class="profile-modal">

      <header>
        <h1 class="panel-close">Cholesterol Secondary</h1>
      </header>

      <div class="pull-left">

        <ul class="clearfix">
          <li><strong>Started</strong>June 7th, 2013</li>
          <li><strong>Ended</strong>May 28th, 2014</li>
          <li><strong>Last Reviewed on</strong>November 14th, 2013</li>
          <li><strong>Type</strong>Prescription</li>
          <li><strong>Schedule</strong>1 Tablet Daily</li>
        </ul>

        <ul class="clearfix">
          <li><strong>Prescriber</strong>
            Tomas Lindberg<br>
            Gates Family Physicians<br>
            925 Gates Rd,<br>
            Wacken, FL 46305<br>
            612.459.0385
          </li>
          <li><strong>Common Side Effects</strong>Gastro-intestinal discomfort</li>
          <li><strong>Alternatives <small>(if any)</small></strong>Lifestyle changes</li>
        </ul>

        <table class="table-diagnoses table-grey">
          <tr>
            <th>Prescription Dates</th>
            <th>Prescriber</th>
          </tr>
          <tr>
            <td>2/4/14</td>
            <td>Dr. Frank Labella</td>
          </tr>
          <tr>
            <td>1/31/14</td>
            <td>Dr. Frank Labella</td>
          </tr>
          <tr>
            <td>1/15/14</td>
            <td>Dr. Sharol Queen</td>
          </tr>
          <tr>
            <td>11/17/13</td>
            <td>Dr. David Quade</td>
          </tr>
          <tr>
            <td>10/15/13</td>
            <td>Dr. Frank Labella</td>
          </tr>
        </table>

      </div>

      <div class="pull-right">

        <h2>Background <small>via Fancy Medical Resource (FMR)</small></h2>
        <p>Metformin (BAN, USAN and INN, pronounced /mɛtˈfɔrmɨn/, met-fawr-min; sold as Glucophage) is an oral antidiabetic drug in the biguanide class. It is the first-line drug of choice for the treatment of type 2 diabetes, in particular, in overweight and obese people and those with normal kidney function.[3][4][5] Its use in gestational diabetes has been limited by safety concerns. It is also used in the treatment of polycystic ovary syndrome, and has been investigated for other diseases where insulin resistance may be an important factor. Metformin works by suppressing glucose production by the liver.</p>
        <p>Metformin is the only antidiabetic drug that has been conclusively shown to prevent the cardiovascular complications of diabetes. It helps reduce LDL cholesterol and triglyceride levels, and is not associated with weight gain. As of 2010, metformin is one of only two oral antidiabetics in the World Health Organization Model List of Essential Medicines (the other being glibenclamide).[6]</p>
        <p><a href="#">Read more on the FMR</a></p>
      </div>

    </div>
  </div>
</div>