---
title: Dashboard
---

<div class="bl-panel-items" id="bl-panel-work-items">
  <div class="panel-slide">

    <a href="#" class="panel-close"><img src="img/close.png"></a>

    <div class="profile-modal">

      <header>
        <h1 class="panel-close">Cholesterol Secondary <small>Since 3/15/13</small></h1>
        <div>
          <strong>Risk Level</strong>
          Moderate Risk
        </div>
      </header>

      <div class="head-content">
        <h2>4 Revelant Diagnoses <a class="page-trigger btn btn-outline">Add Diagnoses</a></h2>
      </div>

      <table class="table-diagnoses table-grey">
        <tr>
          <th class="date">Onset Date</th>
          <th class="code">Code</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>1/21/2014</td>
          <td>ICD9M-626.8</td>
          <td>Other disorder of menstruation and other abnormal bleeding from female gen...</td>
        </tr>
        <tr>
          <td>1/21/2014</td>
          <td>ICD9M-725.4</td>
          <td>Lumbosacral spondylosis without myelopathy</td>
        </tr>
        <tr>
          <td>1/21/2014</td>
          <td>ICD9M-818.2</td>
          <td>Malignant neoplasm of bladder, part unspecified</td>
        </tr>
        <tr>
          <td>1/21/2014</td>
          <td>ICD9M-326.09</td>
          <td>Spinal stenosis of lumbar region, without neurogenic claudication</td>
        </tr>
        <tr>
          <td>1/21/2014</td>
          <td>ICD9M-503.4</td>
          <td>Paroxysmal supraventricular tachycardia</td>
        </tr>
      </table>

      <div class="head-content clearfix">
        <h2 class="pull-left">4 Recent Notes <a class="page-trigger btn btn-outline">Add Note</a></h2>
        <div class="pull-right">
          <span>1/4</span>
          <button type="button" class="btn btn-outline">Left</button>
          <button type="button" class="btn btn-outline">Right</button>
        </div>
      </div>

      <div class="note-box">

        <div class="note-group clearfix">
          <div class="note-author">
            <h4>Shirley Marks</h4>
            <span>Jan. 23 2014 <time>8:15am</time></span>
          </div>
          <p class="cholesterol" style="display: none;">Betsy's <mark>cholesterol</mark> recently spiked along with her HgA1c results. She's been hard pressed to make it to the grocery store but the McDonald's is right around the corner from her apt. I'm concerned she's going to be at risk for a stroke if she keeps this up.</p> 
          <p class="coronary" style="display: none;">Lorem ipsum dolor sit amet, ea sea primis <mark>coronary</mark>, oratio facete similique ut vim, sed ludus saepe id. Oratio interpretaris ea nec, nemore fuisset cu quo. Has purto aeque argumentum no, lorem phaedrum sententiae at pro. Mei illum decore te.</p>
          <p class="hypertension" style="display: none;">Lorem ipsum dolor sit amet, ea sea primis iisque, oratio facete similique ut vim, sed <mark>hypertension</mark> saepe id. Oratio interpretaris ea nec, nemore fuisset cu quo. Has purto aeque argumentum no, lorem phaedrum sententiae at pro. Mei illum decore te.</p>
        </div>

      </div>


    </div>

  </div>
</div>