<aside class="aside-profile">
  <div class="aside-column-wrapper">
    <ul class="aside-collapsed">
      <li>
          <h3><%= current_page.data.title %></h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
      </li>
    </ul>
    <ul class="ul-tiles clearfix">
      <li class="tiles tiles-meds">
        <a href="meds.html">
          <h3>Meds &amp; Allergies</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-history">
        <a href="history.html">
          <h3>Patient History</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-hotspot tiles-procedures">
        <a href="procedures.html">
          <h3>Procedures &amp; Immunizations <span>Neg. Screen Clin. Depression</span></h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-assessments">
        <a href="assessments.html">
          <h3>Assessments</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-hotspot tiles-vitals">
        <a href="vitals.html"> 
          <h3>Vitals &amp; Labs</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-goals">
        <a href="goals.html">  
          <h3>Goals &amp; Playlists</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-conditions">
        <a href="conditions.html">  
          <h3>Conditions &amp; Diagnoses</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
      <li class="tiles tiles-notes">
        <a href="notes.html"> 
          <h3>Notes &amp; Docs</h3>
          <p>Aetna: <span>last update 3/12/14 3:00am</span></p>
        </a>
      </li>
    </ul>
  </div>
</aside>