<div class="profile-header open clearfix">

  <div class="profile-person"><!-- the 1px border -->

    <div class="profile-top clearfix">

      <ul class="profile-btn-group">
        <li class="active"><a href="#home" class="btn btn-primary btn-patient" data-toggle="tab">Patient Information</a></li>
        <li><a href="#profile" class="btn btn-primary btn-tasks" data-toggle="tab">Tasks</a></li>
        <li><a href="#messages" class="btn btn-primary btn-messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" class="btn btn-primary btn-encounters" data-toggle="tab">Encounters</a></li>
      </ul>

      <div class="profile-info tab-content">

        <div class="profile-info-top clearfix">
          <ol class="clearfix">
            <li class="info-name"><i class="icon-female"></i>Johnson, Betsy</li>
            <li class="info-phone"><span>212-123-4567</span></li>
            <li class="info-age"><strong>Age</strong> 74</li>
            <li class="info-dob"><strong>DOB</strong> 05/21/1940</li>
          </ol>
        </div>
        
        <div class="tab-pane fade in active" id="home">

          <div class="profile-info-middle clearfix">
            <ol class="clearfix">
              <li class="">
                <strong>Case Managers</strong>
                <div>
                  <span>1. Miriam Makeba <a href="#">edit</a><br>
                  2. Joyce Rosenovich <a href="#">edit</a></span>
                </div>
              </li>
              <li class=""><strong>Care Team ID</strong><span>5886201</span></li>
              <li class=""><strong>Program</strong><span>Care Management</span></li>
              <li class=""><strong>Address : Home</strong><span>12345 Grabel Ln, Folkston, GA 80435</span></li>
            </ol>
          </div>

          <div class="profile-info-bottom clearfix">
            <ol class="clearfix">
              <li class=""><strong>Primary Contact</strong><span>Betsy Johnson</span></li>
              <li class=""><strong>Insurer</strong><span>Aetna PPO, Basic 70/30</span></li>
              <li class=""><strong>Eligibility</strong><span>1/01/2011</span></li>
              <li class=""><strong>Primary Care Doctor</strong><span>Harry N. David, MD<br>602-752-5876</span></li>
            </ol>
          </div>

        </div>

        <div class="tab-pane fade" id="profile">
          <div class="tab-content clearfix">
            <div class="task-pill-top clearfix">
              <div class="pull-left">
                <h3>Latest Tasks <a href="#" class="btn btn-link">View All</a></h3>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-outline">Create New Task</button>
              </div>
            </div>
            <div class="task-pill-content clearfix">
              <header class="pull-left">
                <ul class="clearfix">
                  <li><strong>Type</strong>Outreach</li>
                  <li><strong>Due Date</strong>Today at 10am</li>
                  <li><strong>Status</strong>Open</li>
                  <li><strong>Program</strong>Condition Management</li>
                </ul>
                <p>
                  <strong>Description</strong>
                  We are more like Germany, ambitious and misunderstood! Anyhoo, your net-suits will allow you to experience Fry’s... <a href="#">More</a>
                </p>
              </header>
              <footer class="pull-right">
                <p>
                  <strong>Playlist</strong>
                  Adult Weight Management
                </p>
                <p>
                  <strong>Step</strong>
                  3
                </p>
                <button type="button" class="btn btn-outline">Start Task</button>
              </footer>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="messages">
          <div class="tab-content">
            <h4>Messages</h4>
            <p>Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal?</p>
          </div>
        </div>       

        <div class="tab-pane fade" id="settings">
          <div class="tab-content">
            <h4>Encounters</h4>
            <p>Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal?</p>
          </div>
        </div>  

      </div>
    </div><!-- /profile-top -->

    <!--
    <div class="profile-bottom clearfix">

      <div class="profile-playlists pull-left">

        <div class="profile-justify">
          <h2>PlayLists</h2>
          <div class="btn-group">
            <button type="button" class="btn btn-outline">All</button>
            <button type="button" class="btn btn-outline">Running</button>
            <button type="button" class="btn btn-outline">Completed</button>
          </div>
        </div>

        <ul class="profile-playlistings">
          <li>
            <div class="playlist-justify">
              <h4>HgA1c Control</h4>
              <span>Started Dec. 20 2013</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
          <li>
            <div class="playlist-justify">
              <h4>Beginning Weight Loss</h4>
              <span>Started Feb. 13 2014</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
        </ul>
      </div>

      <div class="profile-notes pull-right">

        <div class="profile-justify">
          <h2>Recent Notes</h2>
          <div>
            <button type="button" class="btn btn-outline">&lt;</button>
            <button type="button" class="btn btn-outline">&gt;</button>
          </div>
        </div>

        <div class="profile-recent-note">
          <small>Jan. 23 2014 - 8:15am</small>
          <p>Her HgA1c results recently spiked. They’re over 7%. Called her to talk about what happened. Blizzard in her area prevented her from leaving the house and going to the grocery store. As a result, she ended up eating poorly and not exercising. Have a feeling her medication ... <a href="#">More</a></p>
        </div>
      </div>
      

    </div>--> <!-- /profile-bottom -->

  </div><!-- /profile-person -->
</div>