
.profile-modal {

	.pull-left, .pull-right {
		width: 48%;
	}

	.pull-left li {
		float: left;
		width: 30%;
    color: $grayDark;
    font-size: 1.125rem;

		strong {
		  display: block;
		  color: #c4c4c4;
      font-size: 0.875rem;
      font-weight: normal;
      text-transform: uppercase;
		}
	}
}

.panel-close {

  img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    z-index: 100;
  }
}