// General 

@mixin border-top-pad($color: transparent, $px: 7px) {
  border-top: $px solid $color;
}

@mixin justify-no-float($left, $right) {
  text-align: justify;

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  #{$left}, #{$right} {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    #{$left}:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}

// Media Queries

$mobile: 480px;
$tablet-sm: 600px;
$tablet-ipad: 768px;
$tablet-lg: 900px;
$desktop-sm: 1024px;
$desktop-lg: 1200px;

@mixin responsive($width) {
  @if $width == desktop-lg {
    @media only screen and (max-width: $desktop-lg) {
      @content;
    }
  }
  @else if $width == desktop-sm {
    @media only screen and (max-width: $desktop-sm) {
      @content;
    }
  }
  @else if $width == tablet-lg {
    @media only screen and (max-width: $tablet-lg) {
      @content;
    }
  }
  @else if $width == tablet-ipad {
    @media only screen and (max-width: $tablet-ipad) {
      @content;
    }
  }
  @else if $width == tablet-sm {
    @media only screen and (max-width: $tablet-sm) {
      @content;
    }
  }
  @else if $width == mobile {
    @media only screen and (max-width: $mobile) {
      @content;
    }
  }
}

@mixin truncate($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
