@font-face {
  font-family: 'healthagen';
  src:url('../fonts/healthagen.eot');
  src:url('../fonts/healthagen.eot?#iefix') format('embedded-opentype'),
    url('../fonts/healthagen.woff') format('woff'),
    url('../fonts/healthagen.ttf') format('truetype'),
    url('../fonts/healthagen.svg#healthagen') format('svg');
  font-weight: normal;
  font-style: normal;
}

$mobile: "mobile";
$tablet: "tablet";
$desktop: "desktop";

$total-columns: 12;      
$column-width: 5rem;   
$gutter-width: 1rem;       
$grid-padding: $gutter-width;
$border-box-sizing: true;
$container-style: magic;
$container-width: 100%;

$whiteMedium: #f6f6f6;
$whiteDark: #e5e5e5;
$grayLight: #d4d4d4;
$grayMedium: #bbb;
$grayDark: #9b9b9b;
$blackLight: #828282;
$blackMedium: #4A4A4A;
$blueLight: #D3EBF5;
$blueMedium: #4ABAE2;
$hoverBlue: #81C9E3;
$orange: #F5A623;
$greyText: #777;
$greyTextLighter: #c4c4c4;
$blueBand: #3391B9;
