---
title: Dashboard
---

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="css/isotope-style.css">
<% end %>

<% content_for :scripts do %>
  <script src="js/vendor/jquery.isotope.min.js"></script>
<% end %>

<section id="options" class="clearfix"> 
  <div class="option-combo">
    <h3>Filter by:</h3>
    <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
      <li><a href="#filter" data-option-value=".qualityMeasures">Quality Measures</a></li>
      <li><a href="#filter" data-option-value=".utilMeasures">Utlization Measures</a></li>
      <li><a href="#filter" data-option-value=".registry">Registry</a></li>
    </ul>
  </div>

  <!--div class="option-combo option-right">
    <h3>Sort order:</h3>
    <ul id="sort-direction" class="option-set clearfix" data-option-key="sortAscending">
      <li><a href="#sortAscending=true" data-option-value="true" class="selected">Ascending</a></li>
      <li><a href="#sortAscending=false" data-option-value="false">Descending</a></li>
    </ul>
  </div-->

  <div class="option-combo option-right">
    <h3>Sort by:</h3>
    <ul id="sort-by" class="option-set clearfix" data-option-key="sortBy">
      <!--li><a href="#sortBy=original-order" data-option-value="original-order">Default</a></li>
      <li><a href="#sortBy=number" data-option-value="number">Percentage</a></li-->
      <li><a href="#sortBy=hotspot" data-option-value="hotspot" class="selected">Hotspot</a></li>
      <li><a href="#sortBy=date" data-option-value="date">Date</a></li>
      <li><a href="#sortBy=name" data-option-value="name">Name</a></li>
    </ul>
  </div>
</section><!-- #options -->

<div id="isotope-container" class="clickable row clearfix">

    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 utilMeasures element" data-hotspot="5" data-date="12/21/2013 3:30">
      <div class="item">
        <p class="number">80%</p>
        <h3 class="name">Diabetes</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">12/21/13 3:30am</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 qualityMeasures height2 element" data-hotspot="5" data-date="4/18/2014 13:14">
      <div class="item">
        <p class="number">52%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Quality Measures</p>
        <p class="date">4/18/14 1:14pm</p>
      </div>
    </div>
    
        
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 utilMeasures height2 element" data-hotspot="1" data-date="2/1/2014 18:22">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">83%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">2/1/14 6:22pm</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 utilMeasures element" data-hotspot="5" data-date="6/9/2013 14:45">
      <div class="item">
        <p class="number">48%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">6/9/13 2:45pm</p>
      </div>
    </div>
    
        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry height2 element" data-hotspot="5" data-date="7/28/2014 20:38">
      <div class="item">
        <p class="number">20%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Registry</p>
        <p class="date">7/28/14 8:38pm</p>
      </div>
    </div>
    
        
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 registry element" data-hotspot="1" data-date="1/8/2014 22:51">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">75%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Registry</p>
        <p class="date">1/8/14 10:51pm</p>
      </div>
    </div>  


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 utilMeasures height2 element" data-hotspot="5" data-date="1/15/2013 14:14">
      <div class="item">
        <p class="number">93%</p>
        <h3 class="name">Diabetes</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">1/15/13 2:14pm</p>
      </div>
    </div>


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry element" data-hotspot="5" data-date="8/18/2012 14:14">
      <div class="item">
        <p class="number">37%</p>
        <h3 class="name">Pain</h3>
        <p class="category">Registry</p>
        <p class="date">8/18/12 2:14pm</p>
      </div>
    </div>
    
        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 qualityMeasures element" data-hotspot="5" data-date="7/12/2012 13:14">
      <div class="item">
        <p class="number">81%</p>
        <h3 class="name">Diabetes</h3>
        <p class="category">Quality Measures</p>
        <p class="date">7/12/13 1:14pm</p>
      </div>
    </div>
    

    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 utilMeasures element" data-hotspot="5" data-date="10/29/2014 17:14">
      <div class="item">
        <p class="number">18%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">10/29/14 5:14pm</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 registry element" data-hotspot="5" data-date="9/18/2013 6:22">
      <div class="item">
        <p class="number">51%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Registry</p>
        <p class="date">9/18/13 6:22am</p>
      </div>
    </div>


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry element" data-hotspot="1" data-date="8/18/2012 14:14">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">37%</p>
        <h3 class="name">Pain</h3>
        <p class="category">Registry</p>
        <p class="date">8/18/12 2:14pm</p>
      </div>
    </div>


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry element" data-hotspot="5" data-date="8/18/2012 14:14">
      <div class="item">
        <p class="number">37%</p>
        <h3 class="name">Pain</h3>
        <p class="category">Registry</p>
        <p class="date">8/18/12 2:14pm</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 qualityMeasures height2 element" data-hotspot="5" data-date="5/25/2014 13:14">
      <div class="item">
        <p class="number">27%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Quality Measures</p>
        <p class="date">5/25/14 1:14pm</p>
      </div>
    </div>


    <div class="col desktop-12col-span6 tablet-12col-span6 mobile-12col-span12 qualityMeasures element height2" data-hotspot="1" data-date="7/7/2014 18:14">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">99%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Quality Measures</p>
        <p class="date">7/7/14 6:14pm</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 utilMeasures element" data-hotspot="5" data-date="10/29/2014 17:14">
      <div class="item">
        <p class="number">18%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">10/29/14 5:14pm</p>
      </div>
    </div>


    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 qualityMeasures element" data-hotspot="5" data-date="3/7/2012 18:14">
      <div class="item">
        <p class="number">89%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Quality Measures</p>
        <p class="date">3/7/12 6:14pm</p>
      </div>
    </div>


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 utilMeasures height2 element" data-hotspot="5" data-date="1/15/2013 14:14">
      <div class="item">
        <p class="number">93%</p>
        <h3 class="name">Diabetes</h3>
        <p class="category">Utlization Measures</p>
        <p class="date">1/15/13 2:14pm</p>
      </div>
    </div>
  
        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry element" data-hotspot="5" data-date="8/18/2012 14:14">
      <div class="item">
        <p class="number">37%</p>
        <h3 class="name">Pain</h3>
        <p class="category">Registry</p>
        <p class="date">8/18/12 2:14pm</p>
      </div>
    </div>

        
    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 registry element" data-hotspot="5" data-date="9/21/2012 21:10">
      <div class="item">
        <p class="number">7%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Registry</p>
        <p class="date">9/21/12 9:10pm</p>
      </div>
    </div>
  

    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 registry element" data-hotspot="1" data-date="1/8/2014 22:51">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">75%</p>
        <h3 class="name">Aches</h3>
        <p class="category">Registry</p>
        <p class="date">1/8/14 10:51pm</p>
      </div>
    </div>  


    <div class="col desktop-12col-span2 tablet-12col-span2 mobile-12col-span4 qualityMeasures element height2" data-hotspot="1" data-date="11/11/2011 9:14">
      <div class="item">
        <div class="ribbon hotspot">
          <i class="icon-check"></i>
        </div>
        <p class="number">71%</p>
        <h3 class="name">Diabetes</h3>
        <p class="category">Quality Measures</p>
        <p class="date">11/11/11 9:14am</p>
      </div>
    </div>

   
    <div class="col desktop-12col-span4 tablet-12col-span4 mobile-12col-span8 qualityMeasures element" data-hotspot="5" data-date="3/7/2012 18:14">
      <div class="item">
        <p class="number">89%</p>
        <h3 class="name">Cancer</h3>
        <p class="category">Quality Measures</p>
        <p class="date">3/7/12 6:14pm</p>
      </div>
    </div>

</div><!-- #isotope-container -->

