---
title: Patient History
aside: partials/profile-aside
panel: partials/modal
paginate: partials/paginate
card: partials/profile-card
---

<%= partial current_page.data.card || "partials/profile-card" %>
<%= partial current_page.data.aside || "partials/profile-aside" %>

<section class="content-module">
  <div class="head-content clearfix">
    <a class="btn btn-outline pull-left">Add New Playlist</a>
    <form class="pull-right">
      <label>View</label>
      <div class="btn-group">
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown">
          Running
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </form>
  </div>

  <article class="content-goals content-listing clearfix">
    <header class="pull-left"> 
      <h2>Adult Weight Management</h2>
      <img width="190" height="40">
      <span>4 of 7 Tasks Complete</span>
      <ul class="clearfix">
        <li class="pull-left">
          <strong>Started</strong>
          June 7th, 2013
        </li>
        <li class="pull-left">
          <strong>Goal</strong>
          Lose 40 lbs by July 15, 2014
        </li>
      </ul>
    </header>
    <footer class="pull-right">
      <p>
        <strong>Next Task</strong>
        3/1/14<br>
        Class &ndash; In-home Exercise
      </p>
      <p>
        <strong>Next Action</strong>
        Eat a salad with lunch
      </p>
    </footer>
  </article>

  <article class="content-goals content-listing clearfix">
    <header class="pull-left"> 
      <h2>Adult Weight Management</h2>
      <img width="190" height="40">
      <span>4 of 7 Tasks Complete</span>
      <ul class="clearfix">
        <li class="pull-left">
          <strong>Started</strong>
          June 7th, 2013
        </li>
        <li class="pull-left">
          <strong>Goal</strong>
          Lose 40 lbs by July 15, 2014
        </li>
      </ul>
    </header>
    <footer class="pull-right">
      <p>
        <strong>Next Task</strong>
        3/1/14<br>
        Class &ndash; In-home Exercise
      </p>
      <p>
        <strong>Next Action</strong>
        Eat a salad with lunch
      </p>
    </footer>
  </article>

  <article class="content-goals content-listing clearfix">
    <header class="pull-left"> 
      <h2>Adult Weight Management</h2>
      <img width="190" height="40">
      <span>4 of 7 Tasks Complete</span>
      <ul class="clearfix">
        <li class="pull-left">
          <strong>Started</strong>
          June 7th, 2013
        </li>
        <li class="pull-left">
          <strong>Goal</strong>
          Lose 40 lbs by July 15, 2014
        </li>
      </ul>
    </header>
    <footer class="pull-right">
      <p>
        <strong>Next Task</strong>
        3/1/14<br>
        Class &ndash; In-home Exercise
      </p>
      <p>
        <strong>Next Action</strong>
        Eat a salad with lunch
      </p>
    </footer>
  </article>
</section>