---
title: Meds & Allergies
aside: partials/profile-aside
modal: partials/modal-meds
card: partials/profile-card
---

<%= partial current_page.data.card || "partials/profile-card" %>
<%= partial current_page.data.aside || "partials/profile-aside" %>

<section class="content-module">
  <div class="head-content first-content clearfix">
    <h2 class="pull-left">Medications <a class="btn btn-outline">Add Medication</a></h2>
    <form class="pull-right">
      <label>Sort by</label>
      <div class="btn-group">
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown">
          All
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </form>
  </div>

  <article data-name="CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article data-name="GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article data-name="METFORMIN HCL &ndash; Tablet 1000 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">METFORMIN HCL &ndash; Tablet 1000 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>

  <div class="head-content">
    <h2>Allergies <a class="btn btn-outline">Add Allergy</a></h2>
    <form></form>
    <article class="no-data">
      <p>No Known Allergies</p>
    </article>
  </div>
 
  </article>
</section>


<!-- Sliding panel items -->
<%= partial current_page.data.modal || "partials/modal" %>