---
title: Meds & Allergies
aside: partials/profile-aside
modal: partials/modal-meds
---

<div class="profile-header open clearfix">

  <div class="profile-person"><!-- the 1px border -->

    <div class="profile-top">

      <ul class="profile-btn-group">
        <li class="active"><a href="#home" class="btn btn-primary" data-toggle="tab">Patient Information</a></li>
        <li><a href="#profile" class="btn btn-primary" data-toggle="tab">Tasks</a></li>
        <li><a href="#messages" class="btn btn-primary" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" class="btn btn-primary" data-toggle="tab">Encounters</a></li>
      </ul>

      <div class="profile-info tab-content">
        
        <div class="tab-pane fade in active" id="home">

          <ol class="clearfix profile-info-top">
            <li>Schwarzenegger, Arnold</li>
            <li>212-123-4567</li>
            <li>
              <strong>Age</strong> 74 years old
              <div>
                <strong>DOB</strong> 05/21/1940
              </div>
            </li>
          </ol>

          <ol class="clearfix profile-info-middle">
            <li class="">
              <strong>Case Managers</strong>
              <ol>
                <li>Miriam Makeba <a href="#">edit</a></li>
                <li>Joyce Rosenovich <a href="#">edit</a></li>
              </ol>
            </li>
            <li class=""><strong>Care Team ID</strong>5886201</li>
            <li class=""><strong>Program</strong>Care Management</li>
            <li class=""><strong>Address : Home</strong>12345 Grabel Ln, Folkston, GA 80435</li>
          </ol>

          <ol class="clearfix profile-info-bottom">
            <li class=""><strong>Primary Contact</strong>Arnold Schwarzenegger</li>
            <li class=""><strong>Insurer</strong>Aetna PPO, Basic 70/30</li>
            <li class=""><strong>Eligibility</strong>1/01/2011</li>
            <li class=""><strong>Primary Care Doctor</strong>Harry N. David, MD<span>602-752-5876</span></li>
          </ol>

        </div>

        <div class="tab-pane fade" id="profile">
          <p>Profile</p>
        </div>

        <div class="tab-pane fade" id="messages">
          <p>Messages</p>
        </div>       

        <div class="tab-pane fade" id="settings">
          <p>Settings</p>
        </div>  

      </div>
    </div><!-- /profile-top -->

    <!--
    <div class="profile-bottom clearfix">

      <div class="profile-playlists pull-left">

        <div class="profile-justify">
          <h2>PlayLists</h2>
          <div class="btn-group">
            <button type="button" class="btn btn-outline">All</button>
            <button type="button" class="btn btn-outline">Running</button>
            <button type="button" class="btn btn-outline">Completed</button>
          </div>
        </div>

        <ul class="profile-playlistings">
          <li>
            <div class="playlist-justify">
              <h4>HgA1c Control</h4>
              <span>Started Dec. 20 2013</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
          <li>
            <div class="playlist-justify">
              <h4>Beginning Weight Loss</h4>
              <span>Started Feb. 13 2014</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
        </ul>
      </div>

      <div class="profile-notes pull-right">

        <div class="profile-justify">
          <h2>Recent Notes</h2>
          <div>
            <button type="button" class="btn btn-outline">&lt;</button>
            <button type="button" class="btn btn-outline">&gt;</button>
          </div>
        </div>

        <div class="profile-recent-note">
          <small>Jan. 23 2014 - 8:15am</small>
          <p>Her HgA1c results recently spiked. They’re over 7%. Called her to talk about what happened. Blizzard in her area prevented her from leaving the house and going to the grocery store. As a result, she ended up eating poorly and not exercising. Have a feeling her medication ... <a href="#">More</a></p>
        </div>
      </div>
      

    </div>--> <!-- /profile-bottom -->

  </div><!-- /profile-person -->
</div>

<%= partial current_page.data.aside || "partials/profile-aside" %>

<section class="content-module">
  <div class="head-content clearfix">
    <h2 class="pull-left">Medications <a class="page-trigger btn btn-outline">Add Medication</a></h2>
    <form class="pull-right">
      <label>Sort by</label>
      <div class="btn-group">
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown">
          All
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </form>
  </div>

  <article class="panel-trigger" data-name="CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG">
    <header class="clearfix">
      <h3>CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article class="panel-trigger" data-name="GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG">
    <header class="clearfix">
      <h3>GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article class="panel-trigger" data-name="METFORMIN HCL &ndash; Tablet 1000 MG">
    <header class="clearfix">
      <h3>METFORMIN HCL &ndash; Tablet 1000 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>

  <div class="head-content">
    <h2>Allergies <a class="btn btn-outline">Add Allergy</a></h2>
    <form></form>
    <article class="no-data">
      <p>No Known Allergies</p>
    </article>
  </div>
 
  </article>
</section>


<!-- Sliding panel items -->
<%= partial current_page.data.modal || "partials/modal" %>