---
title: Meds & Allergies
aside: partials/profile-aside
modal: partials/modal-meds
---

<div class="profile-header open clearfix">

  <div class="profile-person"><!-- the 1px border -->

    <div class="profile-top clearfix">

      <ul class="profile-btn-group">
        <li class="active"><a href="#home" class="btn btn-primary btn-patient" data-toggle="tab">Patient Information</a></li>
        <li><a href="#profile" class="btn btn-primary btn-tasks" data-toggle="tab">Tasks</a></li>
        <li><a href="#messages" class="btn btn-primary btn-messages" data-toggle="tab">Messages</a></li>
        <li><a href="#settings" class="btn btn-primary btn-encounters" data-toggle="tab">Encounters</a></li>
      </ul>

      <div class="profile-info tab-content">

        <div class="profile-info-top clearfix">
          <ol class="clearfix">
            <li class="info-name"><i class="icon-female"></i>Johnson, Betsy</li>
            <li class="info-phone"><span>212-123-4567</span></li>
            <li class="info-age"><strong>Age</strong> 74</li>
            <li class="info-dob"><strong>DOB</strong> 05/21/1940</li>
          </ol>
        </div>
        
        <div class="tab-pane fade in active" id="home">

          <div class="profile-info-middle clearfix">
            <ol class="clearfix">
              <li class="">
                <strong>Case Managers</strong>
                <span>1. Miriam Makeba <a href="#">edit</a></span>
                <span>2. Joyce Rosenovich <a href="#">edit</a></span>
              </li>
              <li class=""><strong>Care Team ID</strong>5886201</li>
              <li class=""><strong>Program</strong>Care Management</li>
              <li class=""><strong>Address : Home</strong>12345 Grabel Ln, Folkston, GA 80435</li>
            </ol>
          </div>

          <div class="profile-info-bottom clearfix">
            <ol class="clearfix">
              <li class=""><strong>Primary Contact</strong>Betsy Johnson</li>
              <li class=""><strong>Insurer</strong>Aetna PPO, Basic 70/30</li>
              <li class=""><strong>Eligibility</strong>1/01/2011</li>
              <li class=""><strong>Primary Care Doctor</strong>Harry N. David, MD<span>602-752-5876</span></li>
            </ol>
          </div>

        </div>

        <div class="tab-pane fade" id="profile">
          <div class="tab-content clearfix">
            <div class="task-pill-top clearfix">
              <div class="pull-left">
                <h3>Latest Tasks <a href="#" class="btn btn-link">View All</a></h3>
              </div>
              <div class="pull-right">
                <button type="button" class="btn btn-outline">Create New Task</button>
              </div>
            </div>
            <div class="task-pill-content clearfix">
              <header class="pull-left">
                <ul class="clearfix">
                  <li><strong>Type</strong>Outreach</li>
                  <li><strong>Due Date</strong>Today at 10am</li>
                  <li><strong>Status</strong>Open</li>
                  <li><strong>Program</strong>Condition Management</li>
                </ul>
                <p>
                  <strong>Description</strong>
                  We are more like Germany, ambitious and misunderstood! Anyhoo, your net-suits will allow you to experience Fry’s... <a href="#">More</a>
                </p>
              </header>
              <footer class="pull-right">
                <p>
                  <strong>Playlist</strong>
                  Adult Weight Management
                </p>
                <p>
                  <strong>Step</strong>
                  3
                </p>
                <button type="button" class="btn btn-outline">Start Task</button>
              </footer>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="messages">
          <div class="tab-content">
            <h4>Messages</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
          </div>
        </div>       

        <div class="tab-pane fade" id="settings">
          <div class="tab-content">
            <h4>Encounters</h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
          </div>
        </div>  

      </div>
    </div><!-- /profile-top -->

    <!--
    <div class="profile-bottom clearfix">

      <div class="profile-playlists pull-left">

        <div class="profile-justify">
          <h2>PlayLists</h2>
          <div class="btn-group">
            <button type="button" class="btn btn-outline">All</button>
            <button type="button" class="btn btn-outline">Running</button>
            <button type="button" class="btn btn-outline">Completed</button>
          </div>
        </div>

        <ul class="profile-playlistings">
          <li>
            <div class="playlist-justify">
              <h4>HgA1c Control</h4>
              <span>Started Dec. 20 2013</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
          <li>
            <div class="playlist-justify">
              <h4>Beginning Weight Loss</h4>
              <span>Started Feb. 13 2014</span>
            </div>
            <img src="img/playlists.png" width="294" height="52">
          </li>
        </ul>
      </div>

      <div class="profile-notes pull-right">

        <div class="profile-justify">
          <h2>Recent Notes</h2>
          <div>
            <button type="button" class="btn btn-outline">&lt;</button>
            <button type="button" class="btn btn-outline">&gt;</button>
          </div>
        </div>

        <div class="profile-recent-note">
          <small>Jan. 23 2014 - 8:15am</small>
          <p>Her HgA1c results recently spiked. They’re over 7%. Called her to talk about what happened. Blizzard in her area prevented her from leaving the house and going to the grocery store. As a result, she ended up eating poorly and not exercising. Have a feeling her medication ... <a href="#">More</a></p>
        </div>
      </div>
      

    </div>--> <!-- /profile-bottom -->

  </div><!-- /profile-person -->
</div>

<%= partial current_page.data.aside || "partials/profile-aside" %>

<section class="content-module">
  <div class="head-content clearfix">
    <h2 class="pull-left">Medications <a class="btn btn-outline">Add Medication</a></h2>
    <form class="pull-right">
      <label>Sort by</label>
      <div class="btn-group">
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown">
          All
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </form>
  </div>

  <article data-name="CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article data-name="GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article data-name="METFORMIN HCL &ndash; Tablet 1000 MG">
    <header class="clearfix">
      <h3 class="panel-trigger">METFORMIN HCL &ndash; Tablet 1000 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer class="clearfix">
      <ul>
        <li><strong>Started</strong>June 7th, 2013</li>
        <li><strong>Ended</strong>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>

  <div class="head-content">
    <h2>Allergies <a class="btn btn-outline">Add Allergy</a></h2>
    <form></form>
    <article class="no-data">
      <p>No Known Allergies</p>
    </article>
  </div>
 
  </article>
</section>


<!-- Sliding panel items -->
<%= partial current_page.data.modal || "partials/modal" %>