---
title: Dashboard
---

<aside class="aside-overview">
  <ul>
    <li>
      <h3>Patients</h3>
      <span>2 Recent Updates</span>
      <p><strong>6</strong> Hotspots</p>
    </li>
    <li>
      <h3>Connect</h3>
      <span>4 New Messages</span>
      <p><strong>15</strong> Unread</p>
    </li>
    <li class="active">
      <h3>Tasks</h3>
      <span>2 New Tasks</span>
      <p><strong>26</strong> Incomplete</p>
    </li>
    <li>
      <h3>Quality Measures</h3>
      <span>5 Recent Below</span>
      <p><strong>8</strong> Total Below</p>
    </li>
  </ul>
</aside>

<section class="content-overview">
  <header class="head-content">
    <h2>2 Recent Updates <a class="btn btn-default">New Patient</a></h2>
    <span>26 Incomplete</span>
  </header>
  <ul>
    <li>
      <div class="inner">
        <h3>Outreach</h3>
        <div class="justify-no-float">
          <p>Joel Mildred</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Condition Management</p>
      </div>
    </li>
    <li>
      <div class="inner">
        <h3>Consent Letter</h3>
        <div class="justify-no-float">
          <p>Diana Beachl...</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Maternity</p>
      </div>
    </li>
    <li>
      <div class="inner">
        <h3>Outreach</h3>
        <div class="justify-no-float">
          <p>Joel Mildred</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Condition Management</p>
      </div>
    </li>
    <li>
      <div class="inner">
        <h3>Consent Letter</h3>
        <div class="justify-no-float">
          <p>Diana Beachl...</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Maternity</p>
      </div>
    </li>
        <li>
      <div class="inner">
        <h3>Outreach</h3>
        <div class="justify-no-float">
          <p>Joel Mildred</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Condition Management</p>
      </div>
    </li>
    <li>
      <div class="inner">
        <h3>Consent Letter</h3>
        <div class="justify-no-float">
          <p>Diana Beachl...</p>
          <p>Today</p>
        </div>
        <p><em>Program</em>Maternity</p>
      </div>
    </li>
  </ul>
</section>

<aside class="aside-calendar">
  <h3>Calendar</h3>

</aside>