---
title: Dashboard
---

<header class="profile-person">
  <div class="profile-top">
    <div class="profile-name">
      <!-- <img src="img/profile-female.png"> -->
      <h1>Schwarzenegger, Arnold</h1>
      <span><a href="tel:01234567890">212-123-4567</a></span>
    </div>

    <div class="profile-info">
      <ol class="clearfix">
        <li><em>Age</em>74</li>
        <li class="profile-info-primary"><em>Primary Contact</em>Arnold Schwarzenegger</li>
        <li class="profile-info-manager"><em>Case Manager</em>Miriam Makeba</li>
        <li class="profile-info-address"><em>Address : Home</em>12345 Grabel Ln, Folkston, GA 80435</li>
      </ol>
    </div>
  </div>

  <div class="profile-top-buttons">
    <button class="btn btn-primary"><img src="img/icon-activity.png" class="icon-activity"><span>New Activity</span></button>
    <button class="btn btn-primary"><img src="img/icon-note.png" class="icon-note"><span>New Note</span></button>
    <button class="btn btn-primary"><img src="img/icon-encounter.png" class="icon-encounter"><span>New Encounter</span></button>
  </div>
</header>

<aside class="aside-profile">
  <ul class="clearfix">
    <li class="tiles active">
      <a href="#">
        <h3>Meds &amp; Allergies</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles">
      <a href="#">
        <h3>Patient History</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles tiles-hotspot">
      <a href="#">
        <h3>Procedures &amp; Immunizations <span>Neg. Screen Clin. Depression</span></h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles">
      <a href="#">
        <h3>Encounters &amp; Assessments</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles tiles-hotspot">
      <a href="#"> 
        <h3>Vitals &amp; Labs</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles">
      <a href="#">  
        <h3>Goals &amp; Playlists</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles">
      <a href="#">  
        <h3>Conditions &amp; Diagnoses</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
    <li class="tiles">
      <a href="#"> 
        <h3>Notes &amp; Docs</h3>
        <p>Aetna: last update <span>3/12/14 3:00am</span></p>
      </a>
    </li>
  </ul>
</aside>


<section class="content-profile">
  <div class="head-content">
    <h2>Medications <a class="btn btn-outline">Add Medication</a></h2>
    <form>
      <label>Sort by</label>
      <div class="btn-group">
        <button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown">
          All
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </form>
  </div>

  <article>
    <header>
      <h3>CELECOXIB &ndash; Capsule (hard, soft, etc.) 200 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer>
      <ul>
        <li><em>Started</em>June 7th, 2013</li>
        <li><em>Ended</em>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article>
    <header>
      <h3>GLIPIZIDE/METFORMIN HCL &ndash; Tablet 2.5-250 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer>
      <ul>
        <li><em>Started</em>June 7th, 2013</li>
        <li><em>Ended</em>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>
  <article>
    <header>
      <h3>METFORMIN HCL &ndash; Tablet 1000 MG</h3>
      <span>1 Tablet Daily</span>
    </header>
    <footer>
      <ul>
        <li><em>Started</em>June 7th, 2013</li>
        <li><em>Ended</em>May 28th, 2014</li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-outline">Active</button>
        <button type="button" class="btn btn-outline">Inactive</button>
        <button type="button" class="btn btn-outline">Not Reviewed</button>
      </div>
    </footer>
  </article>

  <div class="head-content">
    <h2>Allergies <a class="btn btn-outline">Add Allergy</a></h2>
    <form></form>
    <article class="no-data">
      <p>No Known Allergies</p>
    </article>
  </div>

</section>




